<ion-header>
  <ion-navbar color="primary" *ngIf="trampa">
    <ion-title>{{trampa.obj.nombre}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding *ngIf="trampa">

  <div class="trampa-header" text-center>
    <div class="trampa-img">
      <img [src]="trampa.obj.icono">
    </div>
    <h4>{{tiempoRestante()}}</h4>
  </div>

  <ion-card>
    <ion-card-content>
      {{trampa.obj.descripcion}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="trampa.coordenadas">
    <ion-card-header>
      Ubicación
    </ion-card-header>
    <ion-card-content>
      <div class="trampa-img-mapa">
        <img [src]="imagenMapa()" >
      </div>
      <p class="trampa-localizacion" *ngIf="trampa.entorno">{{trampa.entorno.localizacion.poblacion}}, {{trampa.entorno.localizacion.pais}}</p>
      <p class="trampa-coordenadas" *ngIf="trampa.coordenadas">({{trampa.coordenadas.lat}}, {{trampa.coordenadas.lng}})</p>
    </ion-card-content>
  </ion-card>



  <ion-fab bottom center>
    <button ion-fab mini color="primary" (click)="dismiss()"><ion-icon name="close"></ion-icon></button>
  </ion-fab>
</ion-content>
