page-trap-detail {
  .trampa-header {
    margin-bottom: 40px;
  }
  .trampa-img-mapa {
    margin-bottom: 10px;
  }
  .trampa-img img {
    max-width: 100%;
    width: 100px;
    height: auto;
  }
}
