<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Opciones
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="settings && settings.interfaz">
    <ion-list-header>Interfaz</ion-list-header>
    <ion-item>
      <ion-icon name="speedometer" item-start color="dark"></ion-icon>
      <ion-label>Velocímetro</ion-label>
      <ion-toggle color="secondary" [(ngModel)]="settings.interfaz.velocimetro" (ionChange)="changeInterfaz()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="sunny" item-start color="secondary"></ion-icon>
      <ion-label>Entorno</ion-label>
      <ion-toggle color="secondary" [(ngModel)]="settings.interfaz.entorno" (ionChange)="changeInterfaz()"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="settings && settings.mapa">
    <ion-list-header>Mapa</ion-list-header>
    <ion-item>
      <ion-icon name="map" item-start color="primary"></ion-icon>
      <ion-label>Estilo</ion-label>
      <ion-select [(ngModel)]="settings.mapa.estilo" (ionChange)="changeMapa()">
        <ion-option value="mapbox/streets-v10">Por defecto</ion-option>
        <ion-option value="mapbox/basic-v9">Básico</ion-option>
        <ion-option value="mapbox/bright-v9">Claro</ion-option>
        <ion-option value="mapbox/light-v9">Ligero</ion-option>
        <ion-option value="mapbox/dark-v9">Oscuro</ion-option>
        <ion-option value="mapbox/satellite-v9">Satélite</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="home" item-start color="danger"></ion-icon>
      <ion-label>Edificios 3D</ion-label>
      <ion-toggle color="secondary" [(ngModel)]="settings.mapa.edificios" (ionChange)="changeMapa()"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
