// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.big {
  font-size: 2rem;
  font-weight: bold;
}

img.unknown-img {
  padding: 2rem;
  opacity: 0.1;
}

.label-bs {
  display: inline;
  padding: .2em .6em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  text-transform: uppercase;
}

.label-default {
  background-color: #777;
}

.label-planta {
  background-color: #00ff00;
}

.label-fuego {
  background-color: #ff0000;
}

.label-agua {
  background-color: #0000ff;
}

.label-electrico {
  background-color: #ffff00;
  color: #000000;
}

.label-veneno {
  background-color: #00ffff;
}

.label-normal {
  background-color: #ffff00;
  color: #000000;
}

.label-roca {
  background-color: #b8a038;
}

.leaflet-container .leaflet-marker-pane img, .leaflet-container .leaflet-shadow-pane img {
  transition: all 1s;
}
.leaflet-marker-icon.player-icon {
  border-radius: 50%;
  border: 4px solid color($colors, primary);
}
.leaflet-marker-icon.other-icon {
  border-radius: 50%;
  border: 4px solid color($colors, secondary);
  background-color: color($colors, light);
}
ion-badge ion-icon {
  font-size: 0.8em;
}
.fab-md-alt {
  color: #ffffff;
}

ion-fab[right] {
  button[ion-fab] {
    div.label {
      right: 68px;
    }
  }
  ion-fab-list button[ion-fab], button[mini] {
    div.label {
      right: 48px;
    }
  }
}

ion-fab[center] {
  button[ion-fab] {
    div.label {
      left: 5px;
      bottom: -5px;
      height: 16px;
      line-height: 8px;
      font-size: 12px;
    }
  }
  ion-fab-list button[ion-fab], button[mini] {
    div.label {
      left: 5px;
      bottom: -5px;
      height: 16px;
      line-height: 8px;
      font-size: 12px;
    }
  }
}

ion-fab[left] {
  button[ion-fab] {
    div.label {
      left: 68px;
    }
  }
  ion-fab-list button[ion-fab], button[mini] {
    div.label {
      left: 48px;
    }
  }
}

ion-fab {
    button {
        box-shadow: 0 4px 10px #6b6b6b;
    }

    button[ion-fab] {
      text-align: center;
      overflow: visible;

      div.label {
        position: absolute;
        background: rgba(248, 248, 248, 1);
        color: black;
        height: 24px;
        line-height: 16px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 5px;
        padding-bottom: 5px;
        /*margin-top: 8px;*/
        border-radius: 5px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
        text-transform: uppercase;
        font-size: 75%;
      }
    }

    .fab {
      contain: initial;
    }

    ion-fab-list button[ion-fab] {
        text-align: center;
        overflow: visible;

        div.label {
          position: absolute;
          background: rgba(248, 248, 248, 1);
          color: black;
          height: 24px;
          line-height: 16px;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 5px;
          padding-bottom: 5px;
          /*margin-top: 8px;*/
          border-radius: 5px;
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
          text-transform: uppercase;
          font-size: 75%;
        }
    }

    .button-inner {
        overflow: visible;
    }
}
