page-player-detail {
  .player-img img {
    border-radius: 50%;
    width: 150px;
    max-width: 100%;
    margin-top: 20px;
    border: 5px solid color($colors, secondary);
  }
  .player-nivel-progreso {
    width: 300px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
