<ion-header>

  <ion-navbar color="primary" *ngIf="player">
    <ion-title>{{player.nombre}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <div class="player-header" *ngIf="player" text-center>
    <div class="player-img">
      <img [src]="player.icono">
    </div>
    <div class="player-nivel">
      <h4>Nivel {{player.nivel}}</h4>
      <div class="player-nivel-progreso">
        <progress-bar [progress]="xpPlayer()" [color]="configService.config.colores.nivel" [text]="xpNivelText()"></progress-bar>
      </div>
    </div>

    <div class="player-monedas">
      <ion-icon name="cash"></ion-icon> {{player.monedas}}
    </div>

  </div>

  <div class="player-traps">
    <ion-card>
      <ion-card-header>
        Trampas Activas
      </ion-card-header>
      <ion-card-content>
        <ion-grid *ngIf="player && player.trampas_activas && player.trampas_activas.length > 0">
          <ion-row>
            <ion-col col-4 *ngFor="let trampa of player.trampas_activas" text-center>
              <button (click)="abrirDetallesTrampa(trampa)">
                <img [src]="trampa.obj.icono">
                <p><b>{{tiempoRestante(trampa.tiempo_restante)}}</b></p>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <h6 text-center *ngIf="player && (!player.trampas_activas || player.trampas_activas.length <= 0)">No hay trampas activas</h6>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="player-mods">
    <ion-card>
      <ion-card-header>
        Modificadores Activos
      </ion-card-header>
      <ion-card-content>
        <ion-grid *ngIf="player && player.modificadores_activos && player.modificadores_activos.length > 0">
          <ion-row>
            <ion-col col-4 *ngFor="let modificador of player.modificadores_activos" text-center>
              <button (click)="abrirDetallesMod(modificador)">
                <img [src]="modificador.item.icono">
                <p><b>{{tiempoRestante(modificador.tiempo_restante)}}</b></p>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <h6 text-center *ngIf="player && (!player.modificadores_activos || player.modificadores_activos.length <= 0)">No hay modificadores activos</h6>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="player-stats">
    <ion-card>
      <ion-card-header>
        Estadísticas
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-4 text-center>
              <ion-card color="light">
                <ion-icon name="globe"></ion-icon>
                <h4>{{estadistica('distancia_recorrida')/1000 | number : '1.1-1'}} Kms.</h4>
                <p><small>Distancia recorrida</small></p>
              </ion-card>
            </ion-col>
            <ion-col col-4 text-center>
              <ion-card color="light">
                <ion-icon name="trophy"></ion-icon>
                <h4>{{estadistica('batallas_ganadas') | number : '1.0-0'}}</h4>
                <p><small>Combates ganados</small></p>
              </ion-card>
            </ion-col>
            <ion-col col-4 text-center>
              <ion-card color="light">
                <ion-icon name="podium"></ion-icon>
                <h4>0</h4>
                <p><small>Torneos ganados</small></p>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab bottom center>
    <button ion-fab mini color="primary" (click)="dismiss()"><ion-icon name="close"></ion-icon></button>
  </ion-fab>
</ion-content>
