page-player-detail {
  .player-header {
    padding-bottom: 10px;
    color: #fff;
    h4 {
      text-shadow: 1px 1px 1px black;
    }
  }
  .player-img {
    position: relative;
    img {
      border-radius: 50%;
      width: 150px;
      max-width: 100%;
      margin-top: 20px;
      border: 5px solid #ffffff;
    }
    ion-icon.equipo-icono {
      background-color: #fff;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      font-size: 26px;
      line-height: 30px;
      position: absolute;
      bottom: 10px;
      right: 25px;
    }
  }
  .player-nivel-progreso {
    width: 300px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .player-monedas {
    ion-icon[name=cash] {
      font-size: 1em;
      background-color: black;
      padding: 3px 4px;
      border-radius: 50%;
      color: orange;
    }
  }

  .player-stats {
    padding-bottom: 55px;
  }

  .player-traps, .player-mods, .player-stats {
    ion-col button {
      background-color: color($colors, light);
    }
    ion-col h2 {
      font-size: 1.3rem;
      margin-top: 0;
      margin-bottom: 0.2rem;
    }
    ion-col ion-badge {
      font-size: 1.2rem;
    }
    ion-col p {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      line-height: 1rem;
    }
    ion-icon {
      font-size: 4rem;
    }
    ion-col ion-card {
      padding-top: 15px;
    }
  }
}
