<ion-header>
  <ion-navbar *ngIf="luchador">
    <ion-title>{{tituloPagina()}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="avatar-header" text-center *ngIf="luchador">
    <div class="avatar-salud-pb">
      <div class="inner-salud">
        <progress-bar [progress]="saludLuchador" [color]="configService.config.colores.salud" [text]="saludText()"></progress-bar>
      </div>
    </div>
    <div class="avatar-img" [style.background-color]="luchador.tipo.color">
      <img [src]="luchador.icono">
    </div>
    <ion-toolbar class="avatar-poder"><ion-badge>N {{luchador.nivel}}</ion-badge> <ion-badge color="danger">P {{luchador.puntos_poder}}</ion-badge></ion-toolbar>
  </div>
  <ion-fab right bottom>
    <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="secondary" (click)="elegirItem()"><ion-icon name="cube"></ion-icon></button>
      <button ion-fab color="danger" (click)="despedirMascota()"><ion-icon name="trash"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab bottom center *ngIf="esModal">
    <button ion-fab mini color="primary" (click)="dismiss()"><ion-icon name="close"></ion-icon></button>
  </ion-fab>
</ion-content>
