page-fighter-detail {
  .avatar-header {
    background-color: black;
  }
  .avatar-img {
    background-color: color($colors, primary);
  }
  .avatar-img img {
    margin-top: 2rem;
  }
  .avatar-poder ion-badge {
    font-size: 2rem;
  }
  .avatar-salud-pb {
    position: absolute;
    width: 100%;
    top: 10px;
  }
  .avatar-salud-pb .inner-salud {
    width: 200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .avatar-nivel .avatar-nivel-progreso {
    width: 200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .avatar-ataques ion-card-header {
    font-size: 1.3rem;
    padding: 8px;
  }
  .avatar-ataques ion-card-header ion-icon {
    font-size: 1.1rem;
  }
  .avatar-ataques .label-md {
    margin: 3px 8px 3px 0;
  }
  .avatar-ataques .item-md [item-end] {
    margin: 0px 8px 0px 0;
  }
  .avatar-ataques .item-block {
    min-height: 3rem;
  }
  .avatar-eficiencia {
    padding-bottom: 55px;

    ion-grid {
      margin-bottom: 0px;
    }
    ion-card {
      margin-bottom: 0px;
    }
    ion-card-content {
      font-weight: bold;
    }
  }

}
