<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only (click)="toggleSearchBar()">
                <ion-icon name="search"></ion-icon>
            </button>
    </ion-buttons>
    <ion-title>Elige un objeto</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-searchbar *ngIf="searchbar_visible" placeholder="Buscar..." (ionInput)="filtrarItems($event)"></ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-col col-3 *ngFor="let item of items" text-center>
        <button (click)="elegirItem(item)" color="light">
          <ion-thumbnail>
            <img [src]="item.icono">
            <ion-badge bottom right>x{{item.cantidad}}</ion-badge>
          </ion-thumbnail>
          <h2>{{item.nombre}}</h2>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab bottom center>
    <button ion-fab mini color="primary" (click)="dismiss()"><ion-icon name="close"></ion-icon></button>
  </ion-fab>
</ion-content>
