<ion-header *ngIf="enemigo">
  <ion-navbar>
    <ion-title>{{enemigo.nombre}} (P {{enemigo.puntos_poder}} | N {{enemigo.nivel}})</ion-title>

    <ion-buttons start>
      <button ion-button (click)="huir()">
                <span ion-text color="primary">Huir</span>
            </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>{{countdown | async}}{{countdown_debil | async}}{{countdown_fuerte | async}}</h2>
  <h2 text-center>{{segundos_batalla}}</h2>
  <progress-bar [progress]="saludEnemigo" [color]="configService.config.colores.salud" [text]="saludEnemigoText"></progress-bar>
  <ion-item text-center>
    <div class="efectividad_enemigo">
    <div *ngIf="efectividad_ataque_enemigo == -1" class="texto_efectividad ataque_poco_efectivo">Poco Eficaz</div>
    <div *ngIf="efectividad_ataque_enemigo == -2" class="texto_efectividad ataque_muy_poco_efectivo">Muy Poco Eficaz</div>
    <div *ngIf="efectividad_ataque_enemigo == 1" class="texto_efectividad ataque_efectivo">Eficaz</div>
    <div *ngIf="efectividad_ataque_enemigo == 2" class="texto_efectividad ataque_muy_efectivo">Muy Eficaz</div>

    <div *ngIf="efectividad_especial_enemigo == -1" class="texto_efectividad ataque_poco_efectivo">Poco Eficaz</div>
    <div *ngIf="efectividad_especial_enemigo == -2" class="texto_efectividad ataque_muy_poco_efectivo">Muy Poco Eficaz</div>
    <div *ngIf="efectividad_especial_enemigo == 1" class="texto_efectividad ataque_efectivo">Eficaz</div>
    <div *ngIf="efectividad_especial_enemigo == 2" class="texto_efectividad ataque_muy_efectivo">Muy Eficaz</div>
  </div>

    <ion-thumbnail class="big">
      <img [src]="enemigo.icono">
    </ion-thumbnail>
  </ion-item>
  <ion-fab right bottom *ngIf="luchador">
    <div *ngIf="efectividad_ataque == -1" class="texto_efectividad ataque_poco_efectivo">Poco Eficaz</div>
    <div *ngIf="efectividad_ataque == -2" class="texto_efectividad ataque_muy_poco_efectivo">Muy Poco Eficaz</div>
    <div *ngIf="efectividad_ataque == 1" class="texto_efectividad ataque_efectivo">Eficaz</div>
    <div *ngIf="efectividad_ataque == 2" class="texto_efectividad ataque_muy_efectivo">Muy Eficaz</div>
    <button ion-fab color="primary" [disabled]="!batalla_iniciada || enfriamiento_debil" (click)="ataqueDebil()"><ion-icon [name]="luchador.ataque.icono"></ion-icon></button>
  </ion-fab>
  <ion-fab right bottom style="bottom: 76px;" *ngIf="luchador">
    <div *ngIf="efectividad_especial == -1" class="texto_efectividad ataque_poco_efectivo">Poco Eficaz</div>
    <div *ngIf="efectividad_especial == -2" class="texto_efectividad ataque_muy_poco_efectivo">Muy Poco Eficaz</div>
    <div *ngIf="efectividad_especial == 1" class="texto_efectividad ataque_efectivo">Eficaz</div>
    <div *ngIf="efectividad_especial == 2" class="texto_efectividad ataque_muy_efectivo">Muy Eficaz</div>
    <button ion-fab color="primary" [disabled]="!batalla_iniciada || enfriamiento_fuerte || !especial_cargado" (click)="ataqueFuerte()"><ion-icon name="nuclear"></ion-icon></button>
  </ion-fab>
</ion-content>
<ion-footer color="primary">
  <ion-item>
    <div item-start text-center>
    <ion-thumbnail>
      <img [src]="luchador.icono">
    </ion-thumbnail>
    <small>{{luchador.nombre}}</small>
  </div>
  <progress-bar [progress]="saludLuchador" [color]="configService.config.colores.salud"></progress-bar>
  <progress-bar [progress]="energiaLuchador" [color]="configService.config.colores.energia"></progress-bar>
</ion-item>
</ion-footer>
