page-battle-default {
  ion-thumbnail.big {
    display: block;
    margin-top: 20px;
  }
  ion-thumbnail.big img {
    width: 240px;
    height: auto;
    max-width: 100%;
    display: inline-block;
  }
}
