page-inventory {
  .db-counter {
    margin-top: 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #aaa;
  }
  button ion-thumbnail {
    position: relative;
  }
  button ion-thumbnail ion-badge {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  a.trash {
    position: absolute;
    right: 10px;
    top: 25px;
  }
}
